<h1>Showing Strength Plan</h1>
<h2><%= h @workout_plan.workout_block.program.name %>&nbsp;>&nbsp;<%= h @workout_plan.workout_block.name %>&nbsp;>&nbsp;<%= h @workout_plan.name %></h2>
<table cellpadding="0" cellspacing="0">
  <tr>
    <td class="item">Exercise</td>
    <td><%= h @strength_plan.exercise.nil? ? 'Not Selected' : @strength_plan.exercise.name %> </td>
  </tr>
  <tr>
    <td class="item">Notes</td>
    <td><%= h @strength_plan.notes %></td>
  </tr>
</table>
<br />
<%= link_to 'Edit', edit_strength_plan_path(@strength_plan) %> |
<%= link_to 'Back', workout_plan_exercise_plans_path(@workout_plan) %>
