<div id="workout-plan">
  <div class="toolbar">
    <h1>Workout Plan</h1>
    <a class="button back" href="#">Back</a>
    <a class="button slideup" id="infoButton" href="#logout">Logout</a>
  </div>
  <div style="background-color: #c0deed; padding: 7px 0px 2px 10px;">
    <img src="/images/logo.png" title="get2fit" alt="get2fit" border="0" />
  </div>
  <h2><%= @workout_plan.name %></h2>
  <ul class="rounded">
    <% @exercise_plans.each do |ep| %>
      <li class="arrow">
        <a href="<%= mobile_path(ep.exercises_workout_plan_ids.first, :format => "touch") %>">
          <div><%= ep.exercise.name %></div>
          <div class="list-notes"><%= ep.notes %></div>
        </a>
      </li>
    <% end %>
  </ul>
  <h2>Workout Status</h2>
  <ul class="individual">
    <li>
      <%= link_to "Finished", workout_plan_path(@workout_plan, :format => "touch", "workout_plan[completed]" => "true"), :method => "put" %>
    </li>
    <li>
      <%= link_to "Reset", workout_plan_path(@workout_plan, :format => "touch", "workout_plan[completed]" => "false"), :method => "put" %>
    </li>
  </ul>
</div>
