<div>
  <div class="toolbar">
    <h1>Workout Plan</h1>
    <a class="button back" href="#">Back</a>
    <a class="button slideup" id="infoButton" href="#logout">Logout</a>
  </div>
  <div style="background-color: #c0deed; padding: 7px 0px 2px 10px;">
    <img src="/images/logo.png" title="get2fit" alt="get2fit" border="0" />
  </div>
  <ul class="edgetoedge">
    <li class="sep"><%= @workout_block.name %></li>
    <li class="sep"><%= @workout_plan.name %></li>
    <% @exercise_plans.each do |ep| %>
      <li>
        <a href="<%= mobile_path(ep.exercises_workout_plan_ids.first, :format => "touch") %>">
          <div><%= ep.exercise.name %></div>
          <div class="exericse-plan-notes"><%= ep.notes %></div>
        </a>
      </li>
    <% end %>
  </ul>
</div>
