<h1>New Single Plan</h1>
<% if @workout_plan %>
  <h2><%= h @workout_plan.program.name %></h2>
  <h2><%= h @workout_plan.name %></h2>
<% end -%>
<% form_for(@single_plan) do |f| %>
  <%= f.error_messages %>
  <%= hidden_field_tag 'workout_plan_id', @workout_plan.id %><br />
  Notes<br />
  <%= f.text_field :notes %><br />
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
<br />
<% if @workout_plan %>
  <%= link_to 'Back', workout_plan_exercise_plans_path(@workout_plan) %>
<% end -%>