<h1>Editing Program</h1>
<% form_for(@program) do |f| %>
  <%= f.error_messages %>
  Name<br />
  <%= f.text_field :name  %><br />
  Description<br />
  <%= f.text_field :description %><br />
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
<br />
<%= link_to 'Show', @program %> |
<%= link_to 'Back', programs_path %>