<% content_for :content do -%>
  <script type="text/javascript">
  $(document).ready(function()
  {
    // create sortable lists
    $("#workout-block").sortable({ handle: 'img', cursor: 'move' });
    $("#workout-plan").sortable({ handle: 'img', cursor: 'move' });
    $("#exercise-plan").sortable({ handle: 'img', cursor: 'move' });

    // only show sortable images on hover
    $("#program-workout ul li .menu").hide();
    $("#program-workout ul li").hover(
      function ()
      {
        $(this).find(".menu").show();
      },
      function ()
      {
        $(this).find(".menu").hide();
      }
    );
  });
  </script>

  <!-- Program -->
  <div class="container_12 clearfix content">
    <div id="program" class="container_12 clearfix">
      <div id="" class="grid_12 dashboard-section" style="margin-top: 10px;">
        <div style="padding: 10px; font-size: 1.25em;">
          <% if @program.nil? -%>
            <span class="dashboard-marker">Program</span>
            <span class="edit"><%= link_to 'Add', new_program_path %></span>
          <% else -%>
            <span class="dashboard-header">Program</span><span class="dashboard-header-copy"><%= @program.name %></span>
            <span class="edit"><%= link_to 'Edit', edit_program_path(@program) %></span>
          <% end -%>
        </div>
        <hr />
        <% if @program.nil? -%>
          <div style="padding: 5px 10px 10px 10px; font-size: 1.3em; text-shadow: 0 1px 0 #fff; color: #bb0000;">You haven't created a program.&nbsp;<%= link_to 'Add', new_program_path %> a program to get yourself on the right fitness track!</div>
        <% else -%>
          <div style="padding: 5px 10px 10px 10px; font-size: 1.1em; text-shadow: 0 1px 0 #fff;"><%= @program.description %></div>
        <% end -%>
      </div>
    </div>
    <div id="program-workout" class="container_12 clearfix" style="margin-bottom: 10px;">

      <!-- Workout Periods -->
      <div class="grid_4 dashboard-section" style="min-height: 400px; margin: 10px 9px 0px 9px;">
        <div style="padding: 10px; font-size: 1.25em;">
          <span class="dashboard-marker">Workout Periods</span>
          <% unless @program.nil? -%>
            <span class="edit"><%= link_to 'Add', new_program_workout_block_path(@program) %></span>
            </div>
            <% unless @program.workout_blocks.nil? || @program.workout_blocks.empty? %>
              <hr />
              <ul id="workout-block" style="list-style-type: none; margin-left: 10px; margin-right: 10px; padding: 0;">
                <% workout_block = (@workout_block.nil?) ? @program.workout_blocks.first : @workout_block  %>
                <% @program.workout_blocks.each do |wb| -%>
                  <%  if workout_block == wb -%>
                    <li class="selected">
                      <div>
                        <%= wb.name %>
                        <span class="menu"><%= link_to image_tag("edit.png", :class => "menu-edit", :title => "Edit"), edit_workout_block_path(wb) %><%= link_to image_tag("delete.png", :class => "delete", :title => "Delete"), workout_block_path(wb), :method => :delete, :confirm => "Delete this workout period?" %><%= image_tag "drag.png", :class => "drag", :title => "Move" %></span>
                      </div>
                      <hr style="margin-top: 8px; margin-bottom: 8px;"/>
                      <div style="color: #C0DEED; font-size: 0.8em;">
                        <%= wb.description %>
                      </div>
                    </li>
                  <% else -%>
                    <li><%= link_to wb.name, workout_block_path(wb) %>
                      <span class="menu"><%= link_to image_tag("edit.png", :class => "menu-edit", :title => "Edit"), edit_workout_block_path(wb) %><%= link_to image_tag("delete.png", :class => "delete", :title => "Delete"), workout_block_path(wb), :method => :delete, :confirm => "Delete this workout period?" %><%= image_tag "drag.png", :class => "drag", :title => "Move" %></span>
                    </li>
                  <% end -%>
                <% end -%>
              </ul>
            <% else %>
              <hr />
              <div style="color: #bb0000; padding: 5px 10px 10px 10px; font-size: 1.3em;">You haven't added a workout period. <%= link_to 'Add', new_program_workout_block_path(@program) %> one now to get this started!</div>
            <% end %>
          <% else -%>
            </div>
            <hr />
            <div style="color: #bb0000; padding: 5px 10px 10px 10px; font-size: 1.3em;">You'll need to <%= link_to 'add a program', new_program_path %> before adding workout periods.</div>
          <% end -%>
      </div>

      <!-- Workout Plans -->
      <div class="grid_4 dashboard-section" style="min-height: 400px; margin: 10px 9px 0px 9px;">
        <div style="padding: 10px; font-size: 1.25em;">
          <span class="dashboard-marker">Workout Plans</span>
          <% unless @program.nil? -%>
            <% unless @program.workout_blocks.nil? || @program.workout_blocks.empty? %>
              <% workout_block = (@workout_block.nil?) ? @program.workout_blocks.first : @workout_block %>
              <span class="edit"><%= link_to 'Add', new_workout_block_workout_plan_path(workout_block) %></span>
              </div>
              <% unless workout_block.nil? || (workout_block.workout_plans.nil? || workout_block.workout_plans.empty?) -%>
                <% workout_plan = (@workout_plan.nil?) ? workout_block.workout_plans.first : @workout_plan %>
                <hr />
                <ul id="workout-plan" style="list-style-type: none; margin-left: 10px; margin-right: 10px; padding: 0;">
                  <% workout_block.workout_plans.each_with_index do |wp, i| -%>
                    <%  if workout_plan == wp -%>
                      <li class="selected">
                        <div>
                          <%= wp.name %>
                          <span class="menu"><%= link_to image_tag("edit.png", :class => "menu-edit", :title => "Edit"), edit_workout_plan_path(wp) %><%= link_to image_tag("delete.png", :class => "delete", :title => "Delete"), workout_plan_path(wp), :method => :delete, :confirm => "Delete this workout plan?" %><%= image_tag "drag.png", :class => "drag", :title => "Move" %></span>
                        </div>
                        <hr style="margin-top: 8px; margin-bottom: 8px;"/>
                        <div style="color: #C0DEED; font-size: 0.8em;">
                          <%= wp.description %>
                        </div>
                      </li>
                    <% else -%>
                      <li><%= link_to wp.name, workout_plan_path(wp) %>
                        <span class="menu"><%= link_to image_tag("edit.png", :class => "menu-edit", :title => "Edit"), edit_workout_plan_path(wp) %><%= link_to image_tag("delete.png", :class => "delete", :title => "Delete"), workout_plan_path(wp), :method => :delete, :confirm => "Delete this workout plan?" %><%= image_tag "drag.png", :class => "drag", :title => "Move" %></span>
                      </li>
                    <% end -%>
                  <% end -%>
                </ul>
              <% else -%>
                <hr />
                <% if workout_block -%>
                  <div style="color: #bb0000; padding: 5px 10px 10px 10px; font-size: 1.3em;">You haven't added a workout plan. <%= link_to 'Add', new_workout_block_workout_plan_path(workout_block) %> one now to get this started!</div>
                <% else -%>
                  <div style="color: #bb0000; padding: 5px 10px 10px 10px; font-size: 1.3em;">You haven't added a workout plan. <%= link_to 'Add', new_workout_block_workout_plan_path(@program.workout_blocks.first) %> one now to get this started!</div>
                <% end -%>
              <% end -%>
            <% else -%>
              </div>
              <hr />
              <div style="color: #bb0000; padding: 5px 10px 10px 10px; font-size: 1.3em;">You'll need to <%= link_to 'add a workout period', new_program_workout_block_path(@program) %> before adding workout plans.</div>
            <% end -%>
          <% else -%>
            </div>
            <hr />
            <div style="color: #bb0000; padding: 5px 10px 10px 10px; font-size: 1.3em;">You'll need to <%= link_to 'add a program', new_program_path %> before adding workout plans.</div>
          <% end -%>
      </div>

      <!-- Excercise Plans -->
      <div class="grid_4 dashboard-section" style="min-height: 400px; margin: 10px 9px 0px 9px;">
        <div style="padding: 10px; font-size: 1.25em;">
          <span class="dashboard-marker">Excercise Plans</span>
          <span class="edit"><%= link_to 'Add', edit_program_path(1) %><!-- TODO: Use program id here --></span>
        </div>
        <hr />
        <ul id="exercise-plan" style="list-style-type: none; margin-left: 10px; margin-right: 10px; padding: 0;">
          <li>Bench Press<span class="menu"><%= image_tag "edit.png", :class => "menu-edit" %><%= image_tag "delete.png", :class => "delete" %><%= image_tag "drag.png", :class => "drag" %></span></li>
          <li>Shoulder Press<span class="menu"><%= image_tag "edit.png", :class => "menu-edit" %><%= image_tag "delete.png", :class => "delete" %><%= image_tag "drag.png", :class => "drag" %></span></li>
          <li>Lat Pulldown<span class="menu"><%= image_tag "edit.png", :class => "menu-edit" %><%= image_tag "delete.png", :class => "delete" %><%= image_tag "drag.png", :class => "drag" %></span></li>
          <li>Low Row<span class="menu"><%= image_tag "edit.png", :class => "menu-edit" %><%= image_tag "delete.png", :class => "delete" %><%= image_tag "drag.png", :class => "drag" %></span></li>
          <li>Shrugs<span class="menu"><%= image_tag "edit.png", :class => "menu-edit" %><%= image_tag "delete.png", :class => "delete" %><%= image_tag "drag.png", :class => "drag" %></span></li>
          <li>Machine Fly<span class="menu"><%= image_tag "edit.png", :class => "menu-edit" %><%= image_tag "delete.png", :class => "delete" %><%= image_tag "drag.png", :class => "drag" %></span></li>
          <li>High Row<span class="menu"><%= image_tag "edit.png", :class => "menu-edit" %><%= image_tag "delete.png", :class => "delete" %><%= image_tag "drag.png", :class => "drag" %></span></li>
        </ul>
      </div>
    </div>
  </div>
<% end %>