<% content_for :content do -%>
  <script type="text/javascript">
  $(document).ready(function()
  {
    // create sortable lists
    $("#workout-block").sortable({ handle: '.drag-1', cursor: 'move' });
    $("#workout-plan").sortable({ handle: '.drag-1', cursor: 'move' });
    $("#exercise-plan").sortable({ handle: '.drag-1', cursor: 'move' });
    $("#exercise-sets").sortable({ handle: '.drag-2', cursor: 'move' });

    // only show menu on hover
    $("#program-workout .menu").hide();
    $(".item-1").hover(
      function ()
      {
        $(this).find(".menu").show();
      },
      function ()
      {
        $(this).find(".menu").hide();
      }
    );

    // only show 2nd-level sortable menu on hover
    $("#program-workout .menu-2").hide();
    $(".exercise-set").hover(
      function ()
      {
        $(this).find(".menu-2").show();
      },
      function ()
      {
        $(this).find(".menu-2").hide();
      }
    );

    // drop-menu
    $(".edit-drop").click(function() { //When trigger is clicked...
      $(this).parent().find(".edit-drop-menu").slideDown('fast').show();
      $(this).parent().hover(function() {
        }, function(){
          $(this).parent().find(".edit-drop-menu").slideUp('slow');
      });
    });

  });
  </script>

  <!-- Program -->
  <div class="container_12 clearfix content">
    <div id="program" class="container_12 clearfix">
      <div id="" class="grid_12 dashboard-section" style="margin-top: 10px;">
        <div style="padding: 10px; font-size: 1.25em;">
          <% if @program.nil? -%>
            <span class="dashboard-marker">Program</span>
            <span class="edit"><%= link_to 'Add', new_program_path %></span>
          <% else -%>
            <span class="dashboard-header">Program</span><span class="dashboard-header-copy"><%= @program.name %></span>
            <span class="edit"><%= link_to 'Edit', edit_program_path(@program) %></span>
          <% end -%>
        </div>
        <hr />
        <% if @program.nil? -%>
          <div style="padding: 5px 10px 10px 10px; font-size: 1.3em; color: #990000;">You haven't created a program.&nbsp;<%= link_to 'Add', new_program_path %> a program to get yourself on the right fitness track!</div>
        <% else -%>
          <div style="padding: 5px 10px 10px 10px; font-size: 1.1em; text-shadow: 0 1px 0 #fff;"><%= @program.description %></div>
        <% end -%>
      </div>
    </div>
    <div id="program-workout" class="container_12 clearfix" style="margin-bottom: 10px;">

      <!-- Workout Periods -->
      <div class="grid_4 dashboard-section" style="min-height: 400px; margin: 10px 9px 0px 9px;">
        <div style="padding: 10px; font-size: 1.25em;">
          <span class="dashboard-marker">Workout Periods</span>
          <% unless @program.nil? -%>
            <span class="edit"><%= link_to 'Add', new_program_workout_block_path(@program) %></span>
            </div>
            <% unless @program.workout_blocks.nil? || @program.workout_blocks.empty? %>
              <hr />
              <ul id="workout-block" style="list-style-type: none; margin-left: 10px; margin-right: 10px; padding: 0;">
                <% @workout_block = (@workout_block.nil?) ? @program.workout_blocks.first : @workout_block  %>
                <% @program.workout_blocks.each do |wb| -%>
                  <%  if @workout_block == wb -%>
                    <li class="selected item-1">
                      <div>
                        <%= wb.name_or_date %>
                        <span class="menu"><%= link_to image_tag("edit.png", :class => "menu-edit", :title => "Edit"), edit_workout_block_path(wb) %><%= link_to image_tag("delete.png", :class => "delete", :title => "Delete"), workout_block_path(wb), :method => :delete, :confirm => "Delete this workout period?" %><%= image_tag "drag.png", :class => "drag-1", :title => "Move" %></span>
                      </div>
                      <hr style="margin-top: 8px; margin-bottom: 8px;"/>
                      <div style="color: #C0DEED; font-size: 0.8em;">
                        <%= wb.description %>
                      </div>
                    </li>
                  <% else -%>
                    <li class="item-1"><%= link_to wb.name_or_date, workout_block_path(wb) %>
                      <span class="menu"><%= link_to image_tag("edit.png", :class => "menu-edit", :title => "Edit"), edit_workout_block_path(wb) %><%= link_to image_tag("delete.png", :class => "delete", :title => "Delete"), workout_block_path(wb), :method => :delete, :confirm => "Delete this workout period?" %><%= image_tag "drag.png", :class => "drag-1", :title => "Move" %></span>
                    </li>
                  <% end -%>
                <% end -%>
              </ul>
            <% else %>
              <hr />
              <div style="color: #990000; padding: 5px 10px 10px 10px; font-size: 1.3em">
                You'll need to add some workout periods.  Here are your options.
              </div>
              <ul style="list-style-type: none; color: #002233; margin: 5px; line-height: 1.6em;">
                <li>The recommended option is to <strong><%= link_to 'automatically', new_program_workout_block_path(@program, :auto => 'true' ) %></strong> add them from your goal dates.</li>
                <li>Or you can <strong><%= link_to 'manually', new_program_workout_block_path(@program) %></strong> add them if you prefer more customization.</li>
              </ul>
            <% end %>
          <% else -%>
            </div>
            <hr />
            <div class="dashboard-section-empty">
              No Workout Periods
            </div>
          <% end -%>
      </div>

      <!-- Workout Plans -->
      <div class="grid_4 dashboard-section" style="min-height: 400px; margin: 10px 9px 0px 9px;">
        <div style="padding: 10px; font-size: 1.25em;">
          <span class="dashboard-marker">Workout Plans</span>
          <% unless @program.nil? -%>
            <% unless @program.workout_blocks.nil? || @program.workout_blocks.empty? %>
              <span class="edit"><%= link_to 'Add', new_workout_block_workout_plan_path(@workout_block) %></span>
              </div>
              <% unless @workout_block.nil? || (@workout_block.workout_plans.nil? || @workout_block.workout_plans.empty?) -%>
                <% @workout_plan = (@workout_plan.nil?) ? @workout_block.workout_plans.first : @workout_plan %>
                <hr />
                <ul id="workout-plan" style="list-style-type: none; margin-left: 10px; margin-right: 10px; padding: 0;">
                  <% @workout_block.workout_plans.each do |wp| -%>
                    <% pt = (wp.has_pt == true) ? "item-pt" : "" %>
                    <%  if @workout_plan == wp -%>
                      <li class="selected item-1 <%= pt %>">
                        <div>
                          <%= wp.name %>
                          <span class="menu"><%= link_to image_tag("edit.png", :class => "menu-edit", :title => "Edit"), edit_workout_plan_path(wp) %><%= link_to image_tag("delete.png", :class => "delete", :title => "Delete"), workout_plan_path(wp), :method => :delete, :confirm => "Delete this workout plan?" %><%= image_tag "drag.png", :class => "drag-1", :title => "Move" %></span>
                        </div>
                        <hr style="margin-top: 8px; margin-bottom: 8px;"/>
                        <div style="color: #C0DEED; font-size: 0.8em;">
                          <%= wp.description %>
                        </div>
                      </li>
                    <% else -%>
                      <li class="item-1 <%= pt %>"><%= link_to wp.name, workout_plan_path(wp) %>
                        <span class="menu"><%= link_to image_tag("edit.png", :class => "menu-edit", :title => "Edit"), edit_workout_plan_path(wp) %><%= link_to image_tag("delete.png", :class => "delete", :title => "Delete"), workout_plan_path(wp), :method => :delete, :confirm => "Delete this workout plan?" %><%= image_tag "drag.png", :class => "drag-1", :title => "Move" %></span>
                      </li>
                    <% end -%>
                  <% end -%>
                </ul>
              <% else -%>
                <hr />
                <div style="color: #990000; padding: 5px 10px 10px 10px; font-size: 1.3em">
                  Now that you have a workout period, you'll want to <%= link_to 'add', new_workout_block_workout_plan_path(@workout_block) %> some workout plans.
                </div>
              <% end -%>
            <% else -%>
              </div>
              <hr />
              <div class="dashboard-section-empty">
                No Workout Plans
              </div>
            <% end -%>
          <% else -%>
            </div>
            <hr />
            <div class="dashboard-section-empty">
              No Workout Plans
            </div>
          <% end -%>
      </div>

      <!-- Exercise Plans -->
      <div class="grid_4 dashboard-section" style="min-height: 400px; margin: 10px 9px 0px 9px;">
        <div style="padding: 10px; font-size: 1.25em;">
          <span class="dashboard-marker">Exercise Plans</span>
          <% unless @workout_block.nil? -%>
            <% unless @workout_block.workout_plans.nil? || @workout_block.workout_plans.empty? %>
              <span class="edit-drop">Add</span>
              <ul class="edit-drop-menu">
                <li><%= link_to 'Strength', new_workout_plan_strength_plan_path(@workout_plan) %></li>
                <li><%= link_to 'Cardio', new_workout_plan_cardio_plan_path(@workout_plan) %></li>
              </ul>
              </div>
              <% unless @workout_plan.nil? || (@workout_plan.exercise_plans.nil? || @workout_plan.exercise_plans.empty?) -%>
                <% @exercise_plan = (@exercise_plan.nil?) ? @workout_plan.exercise_plans.first : @exercise_plan %>
                <hr />
                <ul id="exercise-plan" style="list-style-type: none; margin-left: 10px; margin-right: 10px; padding: 0;">
                  <% @workout_plan.exercise_plans.each do |ep| -%>
                    <%  if @exercise_plan == ep -%>
                      <li class="selected item-1">
                        <div>
                          <%= ep.exercise.name %>
                          <% if ep.exercise.kind == Exercise::STRENGTH %>
                            <span class="menu"><%= link_to image_tag("edit.png", :class => "menu-edit", :title => "Edit"), edit_strength_plan_path(ep) %><%= link_to image_tag("delete.png", :class => "delete", :title => "Delete"), strength_plan_path(ep), :method => :delete, :confirm => "Delete this exercise plan?" %><%= image_tag "drag.png", :class => "drag-1", :title => "Move" %></span>
                          <% elsif ep.exercise.kind == Exercise::CARDIO %>
                            <span class="menu"><%= link_to image_tag("edit.png", :class => "menu-edit", :title => "Edit"), edit_cardio_plan_path(ep) %><%= link_to image_tag("delete.png", :class => "delete", :title => "Delete"), cardio_plan_path(ep), :method => :delete, :confirm => "Delete this exercise plan?" %><%= image_tag "drag.png", :class => "drag-1", :title => "Move" %></span>
                          <% end %>
                        </div>
                        <hr style="margin-top: 8px; margin-bottom: 8px;"/>
                        <% if ep.exercise.kind == Exercise::STRENGTH %>
                          <div style="color: #c0deed; font-size: 0.8em;">
                            <span>Sets (Reps <span style="color: #fff;">x</span> Weight)</span><span style="float: right;"><%= link_to 'Add', new_strength_plan_strength_plan_set_path(ep) %></span>
                          </div>
                          <% unless ep.strength_plan_sets.empty? %>
                            <div id="exercise-sets">
                            <% ep.strength_plan_sets.each do |sps| %>
                              <div class="exercise-set">
                                <span><%= sps.reps %>&nbsp;<span style="color: #ff8c15;">x</span>&nbsp;<%= sps.weight %></span>
                                <span class="menu-2"><%= link_to image_tag("edit.png", :class => "menu-edit", :title => "Edit"), edit_strength_plan_set_path(sps) %><%= link_to image_tag("delete.png", :class => "delete", :title => "Delete"), strength_plan_set_path(sps), :method => :delete, :confirm => "Delete this set?" %><%= image_tag "drag.png", :class => "drag-2", :title => "Move" %></span>
                              </div>
                            <% end %>
                            </div>
                          <% else %>
                            <div style="color: #990000; padding: 5px 10px 10px 10px; font-size: .75em;">
                              Now that you've added a strength exercise plan, you'll want to <%= link_to 'add', new_strength_plan_strength_plan_set_path(ep.exercises_workout_plan_ids.first) %> some sets to it.
                            </div>
                          <% end %>
                        <% elsif ep.exercise.kind == Exercise::CARDIO %>
                          <div style="color: #c0deed; font-size: 0.8em;">
                            <%= ep.exercise.description %>
                          </div>
                        <% end %>
                      </li>
                    <% else -%>
                      <li class="item-1"><%= link_to ep.exercise.name, exercise_plan_path(ep.exercises_workout_plan_ids.first) %>
                        <% if ep.exercise.kind == Exercise::STRENGTH %>
                          <span class="menu"><%= link_to image_tag("edit.png", :class => "menu-edit", :title => "Edit"), edit_strength_plan_path(ep) %><%= link_to image_tag("delete.png", :class => "delete", :title => "Delete"), strength_plan_path(ep), :method => :delete, :confirm => "Delete this exercise plan?" %><%= image_tag "drag.png", :class => "drag-1", :title => "Move" %></span>
                        <% elsif ep.exercise.kind == Exercise::CARDIO %>
                          <span class="menu"><%= link_to image_tag("edit.png", :class => "menu-edit", :title => "Edit"), edit_cardio_plan_path(ep) %><%= link_to image_tag("delete.png", :class => "delete", :title => "Delete"), cardio_plan_path(ep), :method => :delete, :confirm => "Delete this exercise plan?" %><%= image_tag "drag.png", :class => "drag-1", :title => "Move" %></span>
                        <% end %>
                      </li>
                    <% end -%>
                  <% end -%>
                </ul>
              <% else -%>
                <hr />
                <div style="color: #990000; padding: 5px 10px 10px 10px; font-size: 1.3em">
                  Now that you have a workout plan, you'll want to add some exercise plans.  You can add <strong>strength</strong> and <strong>cardio</strong> exercise plans.
                </div>
              <% end -%>
            <% else -%>
              </div>
              <hr />
              <div class="dashboard-section-empty">
                No Exercise Plans
              </div>
            <% end -%>
          <% else -%>
            </div>
            <hr />
            <div class="dashboard-section-empty">
              No Exercise Plans
            </div>
          <% end -%>
      </div>

    </div>
  </div>
<% end %>