<% content_for :content do -%>
  <script type="text/javascript">
  $(document).ready(function()
  {
    // create sortable lists
    $("#workout-block").sortable({ handle: 'img', cursor: 'move' });
    $("#workout-plan").sortable({ handle: 'img', cursor: 'move' });
    $("#exercise-plan").sortable({ handle: 'img', cursor: 'move' });

    // only show sortable images on hover
    $("#program-workout ul li .menu").hide();
    $("#program-workout ul li").hover(
      function ()
      {
        $(this).find(".menu").show();
      },
      function ()
      {
        $(this).find(".menu").hide();
      }
    );
  });
  </script>
  <div class="container_12 clearfix content">
    <div id="program" class="container_12 clearfix">
      <div id="" class="grid_12 dashboard-section" style="margin-top: 10px;">
        <div style="padding: 10px; font-size: 1.25em;">
          <span class="dashboard-marker">Interval Training</span>
          <span class="edit"><%= link_to 'Edit', edit_program_path(1) %><!-- TODO: Use program id here --></span>
        </div>
        <hr />
        <div style="padding: 5px 10px 10px 10px; font-size: 1.1em; text-shadow: 0 1px 0 #fff;">This form of training involves alternating periods of activity and recovery. The advantage of this form of training is that it provides greater amounts of exposure to intensive training without incurring excessive fatigue. Greater recovery will occur if you remain walking or moving throughout. This increases the body's ability to remove lactic acid from the muscles, take it back to the liver, and convert it to energy.</div>
      </div>
    </div>
    <div id="program-workout" class="container_12 clearfix" style="margin-bottom: 10px;">
      <div class="grid_4 dashboard-section" style="height: 400px; margin: 10px 9px 0px 9px;">
        <div style="padding: 10px; font-size: 1.25em;">
          <span class="dashboard-marker">Workout Periods</span>
          <span class="edit"><%= link_to 'Add', edit_program_path(1) %><!-- TODO: Use program id here --></span>
        </div>
        <ul id="workout-block" style="list-style-type: none; margin-left: 10px; margin-right: 10px; padding: 0;">
          <li class="selected">Week 1<span class="menu"><%= image_tag "edit.png", :class => "menu-edit" %><%= image_tag "delete.png", :class => "delete" %><%= image_tag "drag.png", :class => "drag" %></span></li>
          <li>Week 2<span class="menu"><%= image_tag "edit.png", :class => "menu-edit" %><%= image_tag "delete.png", :class => "delete" %><%= image_tag "drag.png", :class => "drag" %></span></li>
          <li>Week 3<span class="menu"><%= image_tag "edit.png", :class => "menu-edit" %><%= image_tag "delete.png", :class => "delete" %><%= image_tag "drag.png", :class => "drag" %></span></li>
          <li>Week 4<span class="menu"><%= image_tag "edit.png", :class => "menu-edit" %><%= image_tag "delete.png", :class => "delete" %><%= image_tag "drag.png", :class => "drag" %></span></li>
          <li>Week 5<span class="menu"><%= image_tag "edit.png", :class => "menu-edit" %><%= image_tag "delete.png", :class => "delete" %><%= image_tag "drag.png", :class => "drag" %></span></li>
          <li>Week 6<span class="menu"><%= image_tag "edit.png", :class => "menu-edit" %><%= image_tag "delete.png", :class => "delete" %><%= image_tag "drag.png", :class => "drag" %></span></li>
          <li>Week 7<span class="menu"><%= image_tag "edit.png", :class => "menu-edit" %><%= image_tag "delete.png", :class => "delete" %><%= image_tag "drag.png", :class => "drag" %></span></li>
          <li>Week 8<span class="menu"><%= image_tag "edit.png", :class => "menu-edit" %><%= image_tag "delete.png", :class => "delete" %><%= image_tag "drag.png", :class => "drag" %></span></li>
        </ul>
      </div>
      <div class="grid_4 dashboard-section" style="height: 400px; margin: 10px 9px 0px 9px;">
        <div style="padding: 10px; font-size: 1.25em;">
          <span class="dashboard-marker">Workout Plans</span>
          <span class="edit"><%= link_to 'Add', edit_program_path(1) %><!-- TODO: Use program id here --></span>
        </div>
        <ul id="workout-plan" style="list-style-type: none; margin-left: 10px; margin-right: 10px; padding: 0;">
          <li>Cardio Kick<span class="menu"><%= image_tag "edit.png", :class => "menu-edit" %><%= image_tag "delete.png", :class => "delete" %><%= image_tag "drag.png", :class => "drag" %></span></li>
          <li>Strength (Legs)<span class="menu"><%= image_tag "edit.png", :class => "menu-edit" %><%= image_tag "delete.png", :class => "delete" %><%= image_tag "drag.png", :class => "drag" %></span></li>
          <li>Cardio Swim<span class="menu"><%= image_tag "edit.png", :class => "menu-edit" %><%= image_tag "delete.png", :class => "delete" %><%= image_tag "drag.png", :class => "drag" %></span></li>
          <li class="selected">Strength (Chest)<span class="menu"><%= image_tag "edit.png", :class => "menu-edit" %><%= image_tag "delete.png", :class => "delete" %><%= image_tag "drag.png", :class => "drag" %></span></li>
          <li>5K Run<span class="menu"><%= image_tag "edit.png", :class => "menu-edit" %><%= image_tag "delete.png", :class => "delete" %><%= image_tag "drag.png", :class => "drag" %></span></li>
        </ul>
      </div>
      <div class="grid_4 dashboard-section" style="height: 400px; margin: 10px 9px 0px 9px;">
        <div style="padding: 10px; font-size: 1.25em;">
          <span class="dashboard-marker">Excercise Plans</span>
          <span class="edit"><%= link_to 'Add', edit_program_path(1) %><!-- TODO: Use program id here --></span>
        </div>
        <ul id="exercise-plan" style="list-style-type: none; margin-left: 10px; margin-right: 10px; padding: 0;">
          <li>Bench Press<span class="menu"><%= image_tag "edit.png", :class => "menu-edit" %><%= image_tag "delete.png", :class => "delete" %><%= image_tag "drag.png", :class => "drag" %></span></li>
          <li>Shoulder Press<span class="menu"><%= image_tag "edit.png", :class => "menu-edit" %><%= image_tag "delete.png", :class => "delete" %><%= image_tag "drag.png", :class => "drag" %></span></li>
          <li>Lat Pulldown<span class="menu"><%= image_tag "edit.png", :class => "menu-edit" %><%= image_tag "delete.png", :class => "delete" %><%= image_tag "drag.png", :class => "drag" %></span></li>
          <li>Low Row<span class="menu"><%= image_tag "edit.png", :class => "menu-edit" %><%= image_tag "delete.png", :class => "delete" %><%= image_tag "drag.png", :class => "drag" %></span></li>
          <li>Shrugs<span class="menu"><%= image_tag "edit.png", :class => "menu-edit" %><%= image_tag "delete.png", :class => "delete" %><%= image_tag "drag.png", :class => "drag" %></span></li>
          <li>Machine Fly<span class="menu"><%= image_tag "edit.png", :class => "menu-edit" %><%= image_tag "delete.png", :class => "delete" %><%= image_tag "drag.png", :class => "drag" %></span></li>
          <li>High Row<span class="menu"><%= image_tag "edit.png", :class => "menu-edit" %><%= image_tag "delete.png", :class => "delete" %><%= image_tag "drag.png", :class => "drag" %></span></li>
        </ul>
      </div>
    </div>
  </div>
<% end %>