<% content_for :content do -%>
  <div class="container_12 clearfix">
    <div class="grid_12">
      <h1>New Program</h1>
      <% form_for(@program) do |f| %>
        <%= f.error_messages %>
        Name<br />
        <%= f.text_field :name %><br />
        Description<br />
        <%= f.text_field :description %><br />
        <p>
          <%= f.submit 'Create' %>
        </p>
      <% end %>
      <br />
      <%= link_to 'Back', programs_path %>
    </div>
  </div>
<% end %>