<script type="text/javascript">
  $(document).ready(function()
  {
    $(".goal-date").datepicker();
  });
</script>
<% if @account_type == User::ALL || @account_type == User::MAIN %>
  <h1>Account</h1>
  <div class="account-form">
    <%= form.label :login %><br />
    <%= form.text_field :login %><br />
    <br />
    <%= form.label :email %><br />
    <%= form.text_field :email %><br />
    <br />
    <%= form.label :password, form.object.new_record? ? nil : "Change password" %><br />
    <%= form.password_field :password %><br />
    <br />
    <%= form.label :password_confirmation %><br />
    <%= form.password_field :password_confirmation %><br />
    <br />
  </div>
<% end %>

<% if @account_type == User::ALL || @account_type == User::GOAL %>
  <h1>Goal</h1>
  <div class="account-form">
    <%= form.label :goal %><br />
    <%= form.text_area :goal, :rows => 2, :cols => 43 %><br />
    <br />
    <%= form.label :goal_start_date %><br />
    <%= form.text_field :goal_start_date, :class => 'goal-date', :value => @user.goal_start_date.strftime('%m/%d/%Y') %><br />
    <br />
    <%= form.label :goal_end_date %><br />
    <%= form.text_field :goal_end_date, :class => 'goal-date', :value => @user.goal_end_date.strftime('%m/%d/%Y') %><br />
    <br />
  </div>
<% end %>

<% if @account_type == User::ALL || @account_type == User::PERSONAL %>
  <h1>Personal</h1>
  <div class="account-form">
    <%= form.label :birthday %><br />
    <%= form.text_field :birthday %><br />
    <br />
    <%= form.label :height %><br />
    <%= form.text_field :height %><br />
    <br />
  </div>
<% end %>