<h1>Listing Exercise Plans</h1>
<% if @workout_plan %>
  <h2><%= h @workout_plan.program.name %></h2>
  <h2><%= h @workout_plan.name %></h2>
<% end -%>
<table>
  <tr>
    <th>Notes</th>
    <th>Actions</th>
  </tr>
  <% @exercise_plans.each do |exercise_plan| %>
    <tr>
      <td><%= h exercise_plan.notes %></td>
      <td>
        <% if exercise_plan.is_a?(CardioPlan) %>
          <%= link_to 'Show', workout_plan_cardio_plan_path(@workout_plan, exercise_plan) %>&nbsp;&nbsp;|&nbsp;
          <%= link_to 'Edit', edit_workout_plan_cardio_plan_path(@workout_plan, exercise_plan) %>&nbsp;&nbsp;|&nbsp;
          <%= link_to 'Destroy', cardio_plan_path(exercise_plan), :confirm => 'Are you sure?', :method => :delete %>
        <% elsif exercise_plan.is_a?(StrengthPlan) %>
          <%= link_to 'Show', workout_plan_strength_plan_path(@workout_plan, exercise_plan) %>&nbsp;&nbsp;|&nbsp;
          <%= link_to 'Edit', edit_workout_plan_strength_plan_path(@workout_plan, exercise_plan) %>&nbsp;&nbsp;|&nbsp;
          <%= link_to 'Destroy', strength_plan_path(exercise_plan), :confirm => 'Are you sure?', :method => :delete %>
        <% elsif exercise_plan.is_a?(SinglePlan) %>
          <%= link_to 'Show', workout_plan_single_plan_path(@workout_plan, exercise_plan) %>&nbsp;&nbsp;|&nbsp;
          <%= link_to 'Edit', edit_workout_plan_single_plan_path(@workout_plan, exercise_plan) %>&nbsp;&nbsp;|&nbsp;
          <%= link_to 'Destroy', single_plan_path(exercise_plan), :confirm => 'Are you sure?', :method => :delete %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<br />
<% if @workout_plan %>
  <%= link_to 'New Strength Plan', new_workout_plan_strength_plan_path(@workout_plan) %>&nbsp;|
  <%= link_to 'New Single Plan', new_workout_plan_single_plan_path(@workout_plan) %>&nbsp;|
  <%= link_to 'New Cardio Plan', new_workout_plan_cardio_plan_path(@workout_plan) %>&nbsp;|
  <%= link_to 'Back', program_workout_plans_path(@workout_plan.program) %>
<% end -%>