<script type="text/javascript">
  $(document).ready(function()
  {
    $(".measurement-date").datepicker({ maxDate: '+0' });
  });
</script>
<h1>Measurement Date</h1>
<div class="account-form">
  <%= form.label :measure_date, "Date" %><br />
  <% if @measurement.measure_date %>
    <%= form.text_field :measure_date, :class => "measurement-date", :value => @measurement.measure_date.strftime("%m/%d/%Y") %><br />
  <% else %>
    <%= form.text_field :measure_date, :class => "measurement-date" %><br />
  <% end %>
<br />
</div>

<h1>Size Measurements</h1>
<div class="account-form">
  <div style="display: inline-block; margin-right: 60px;">
    <%= form.label :weight %><br />
    <%= form.text_field :weight, :size => 15 %><br />
    <br />
    <%= form.label :waist %><br />
    <%= form.text_field :waist, :size => 15 %><br />
    <br />
    <%= form.label :wrist %><br />
    <%= form.text_field :wrist, :size => 15 %><br />
    <br />
    <%= form.label :chest %><br />
    <%= form.text_field :chest, :size => 15 %><br />
    <br />
    <%= form.label :hip %><br />
    <%= form.text_field :hip, :size => 15 %><br />
    <br />
  </div>
  <div style="display: inline-block; vertical-align: top;">
    <%= form.label :bicep %><br />
    <%= form.text_field :bicep, :size => 15 %><br />
    <br />
    <%= form.label :forearm %><br />
    <%= form.text_field :forearm, :size => 15 %><br />
    <br />
    <%= form.label :thigh %><br />
    <%= form.text_field :thigh, :size => 15 %><br />
    <br />
    <%= form.label :calve %><br />
    <%= form.text_field :calve, :size => 15 %><br />
    <br />
    <%= form.label :neck %><br />
    <%= form.text_field :neck, :size => 15 %><br />
    <br />
  </div>
</div>

<h1>Fitness Measurements</h1>
<div class="account-form">
  <%= form.label :resting_hr, "Resting Heart Rate" %><br />
  <%= form.text_field :resting_hr %><br />
  <br />
  <%= form.label :bp_systolic, "Systolic Blood Pressure" %><br />
  <%= form.text_field :bp_systolic %><br />
  <br />
  <%= form.label :bp_diastolic, "Diastolic Blood Pressure " %><br />
  <%= form.text_field :bp_diastolic %><br />
  <br />
  <%= form.label :v02_max, "V02 Max" %><br />
  <%= form.text_field :v02_max %><br />
  <br />
</div>