<% content_for :content do -%>
  <div id="dashboard" class="container_12 clearfix content">
    <div id="goal" class="container_12 clearfix">
      <div id="" class="grid_12 dashboard-section" style="margin-top: 10px;">
        <div style="font-size: 1.25em; margin: 15px 10px 15px 10px;">
          <% if current_user.goal.nil? || current_user.goal.blank? -%>
            <span class="dashboard-header">Goal</span><span class="dashboard-header-copy" style="color: #dd0000;">You haven't set a goal.&nbsp;&nbsp;Set a goal to help keep yourself motivated!</span>
          <% else -%>
            <span class="dashboard-header">Goal</span><span class="dashboard-header-copy"><%= current_user.goal %></span>
          <% end -%>
          <span class="edit"><%= link_to 'Edit', edit_account_path(:at => User::GOAL), :class => "edit" %></span>
        </div>
        <hr />
        <div style="padding: 5px 10px 15px 10px; font-size: 1.25em;">
          <div style="display: inline-block;">
            <span class="dashboard-item-left">Start Date</span><span class="dashboard-item-right"><%= (current_user.goal_start_date.nil?) ? "None" : current_user.goal_start_date.strftime("%B %d, %Y") %></span>
          </div>
          <div style="display: inline-block; margin-left: 15px;">
            <span class="dashboard-item-left">End Date</span><span class="dashboard-item-right"><%= (current_user.goal_end_date.nil?) ? "None" : current_user.goal_end_date.strftime("%B %d, %Y") %></span>
          </div>
        </div>
      </div>
    </div>
    <div id="workout" class="container_12 clearfix">
      <div id="" class="grid_6 dashboard-section" style="margin: 10px 9px 0px 9px;">
        <div style="font-size: 1.25em; margin: 15px 10px 15px 10px;">
          <span class="dashboard-header">My Workouts</span><span class="dashboard-header-copy">My total workout progress</span>
        </div>
        <hr />
        <div class="meter-wrap" style="padding: 1px; margin: 5px 10px 10px 10px;">
          <div class="meter-value" style="width: 47%;">
            <div class="meter-text">
              33 of 70 Workouts Completed (47%)
            </div>
          </div>
        </div>
      </div>
      <div id="" class="grid_6 dashboard-section" style="margin: 10px 9px 0px 9px;">
        <div style="font-size: 1.25em; margin: 15px 10px 15px 10px;">
          <span class="dashboard-header">Trainer Workouts</span><span class="dashboard-header-copy">Personal Trainer workout progress</span>
        </div>
        <hr />
        <div class="meter-wrap" style="padding: 1px; margin: 5px 10px 10px 10px;">
          <div class="meter-value" style="width: 35%;">
            <div class="meter-text">
              7 of 20 Workouts Completed (35%)
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="current" class="container_12 clearfix">
      <div id="" class="grid_4 dashboard-section" style="height: 275px; margin: 10px 9px;">
        <div style="margin-top: 5px; padding: 10px; font-size: 1.25em;">
          <span class="dashboard-marker">Measurements</span>
        </div>
        <hr />
        <div style="font-size: 1.25em;">
            <ul class="item">
              <li><div class="dashboard-item-left">Age</div><div id="age" class="dashboard-item-right"><%= current_user.age ? current_user.age : "None" %> </div></li>
              <li><div class="dashboard-item-left">Height</div><div id="height" class="dashboard-item-right"><%= current_user.height ? current_user.height : "None" %> </div></li>
              <li><div class="dashboard-item-left">Weight</div><div id="weight-edit" class="dashboard-item-right"><%= current_user.measurements.recent ? current_user.measurements.recent.weight : "None" %></div></li>
              <li><div class="dashboard-item-left">BMI</div><div id="bmi-edit" class="dashboard-item-right"><%= current_user.measurements.recent ? current_user.measurements.recent.bmi : "None" %></div></li>
              <li><div class="dashboard-item-left">V02 Max</div><div id="v02-max" class="dashboard-item-right"><%= current_user.measurements.recent ? current_user.measurements.recent.v02_max : "None" %></div></li>
            </ul>
        </div>
      </div>
      <div id="" class="grid_4 dashboard-section" style="height: 275px; margin: 10px 9px;">
        <div class="" style="margin-top: 5px; padding: 10px; font-size: 1.25em;">
          <span class="dashboard-marker">Program</span>
        </div>
        <hr />
      </div>
      <div id="" class="grid_4 dashboard-section" style="height: 275px; margin: 10px 9px;">
        <div class="" style="margin-top: 5px; padding: 10px; font-size: 1.25em;">
          <span class="dashboard-marker">Workout Plan</span>
        </div>
        <hr />
      </div>
    </div>
  </div>
<% end -%>