<% content_for :content do -%>
  <script type="text/javascript">
  $(document).ready(function()
  {
    // measurement date
    $("#measurement-datepicker").datepicker({ maxDate: '+0' });

    // attach date to "Edit" measurement
    $("#measurement-edit").bind("click", function(e)
    {
      document.location.href = e.target.href + "?measure_date=" + $("#measurement-datepicker").val();
      return false;
    });
  });
  </script>
  <div id="dashboard" class="container_12 clearfix content">
    <div id="goal" class="container_12 clearfix">
      <div id="" class="grid_12 dashboard-section" style="margin-top: 10px;">
        <div style="font-size: 1.25em; margin: 15px 10px 15px 10px;">
          <% if current_user.goal.nil? || current_user.goal.blank? -%>
            <span class="dashboard-header">Goal</span><span class="dashboard-header-copy" style="color: #bb0000;">You haven't set a goal.&nbsp;&nbsp;Set a goal to help keep yourself motivated!</span>
            <span class="edit"><%= link_to 'Add', edit_account_path(:at => User::GOAL) %></span>
          <% else -%>
            <span class="dashboard-header">Goal</span><span class="dashboard-header-copy"><%= current_user.goal %></span>
            <span class="edit"><%= link_to 'Edit', edit_account_path(:at => User::GOAL) %></span>
          <% end -%>
        </div>
        <hr />
        <div style="padding: 5px 10px 15px 10px; font-size: 1.25em;">
          <div style="display: inline-block;">
            <span class="dashboard-item-left">Start Date</span><span class="dashboard-item-right"><%= (current_user.goal_start_date.nil?) ? "None" : current_user.goal_start_date.strftime("%B %d, %Y") %></span>
          </div>
          <div style="display: inline-block; margin-left: 15px;">
            <span class="dashboard-item-left">End Date</span><span class="dashboard-item-right"><%= (current_user.goal_end_date.nil?) ? "None" : current_user.goal_end_date.strftime("%B %d, %Y") %></span>
          </div>
        </div>
      </div>
    </div>
    <div id="workout" class="container_12 clearfix">
      <div id="" class="grid_6 dashboard-section" style="margin: 10px 9px 0px 9px;">
        <div style="font-size: 1.25em; margin: 15px 10px 15px 10px;">
          <span class="dashboard-header">My Workouts</span><span class="dashboard-header-copy">My total workout progress</span>
        </div>
        <hr />
        <div class="meter-wrap" style="padding: 1px; margin: 5px 10px 10px 10px;">
          <div class="meter-value" style="width: 47%;">
            <div class="meter-text">
              33 of 70 Workouts Completed (47%)
            </div>
          </div>
        </div>
      </div>
      <div id="" class="grid_6 dashboard-section" style="margin: 10px 9px 0px 9px;">
        <div style="font-size: 1.25em; margin: 15px 10px 15px 10px;">
          <span class="dashboard-header">Trainer Workouts</span><span class="dashboard-header-copy">Personal Trainer workout progress</span>
        </div>
        <hr />
        <div class="meter-wrap" style="padding: 1px; margin: 5px 10px 10px 10px;">
          <div class="meter-value" style="width: 35%;">
            <div class="meter-text">
              7 of 20 Workouts Completed (35%)
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="current" class="container_12 clearfix">
      <div id="" class="grid_4 dashboard-section" style="height: 315px; margin: 10px 9px;">
        <div style="margin-top: 5px; padding: 10px; font-size: 1.25em;">
          <span class="dashboard-marker">Personal</span>
          <span class="edit"><%= link_to 'Show', edit_account_path(:at => User::PERSONAL) %></span>
          <span class="edit"><%= link_to 'Edit', edit_account_path(:at => User::PERSONAL) %></span>
        </div>
        <div>
          <ul class="item-calc">
            <li><div class="dashboard-item-left">Age</div><div id="age" class="dashboard-item-right"><%= current_user.age ? current_user.age : "None" %> </div></li>
            <li><div class="dashboard-item-left">Height</div><div id="height" class="dashboard-item-right"><%= current_user.height ? current_user.height : "None" %> </div></li>
          </ul>
        </div>
        <hr />
        <div style="margin-top: 5px; padding: 10px; font-size: 1.25em;">
          <span class="dashboard-marker">Measurements</span>
          <span id="measurement-edit" class="edit"><%= link_to 'Edit', new_measurement_path %></span>
          <span class="edit"><input id="measurement-datepicker" type="text" value="<%= Date.today.strftime('%m/%d/%Y') %>" style="font-size: 0.75em; width: 90px; margin: -3px" /></span>
        </div>
        <div style="font-size: 1.25em;">
          <ul class="item">
            <li><div class="dashboard-item-left">Weight</div><div id="weight-edit" class="dashboard-item-right"><%= current_user.measurements.recent ? current_user.measurements.recent.weight : "None" %></div></li>
            <li><div class="dashboard-item-left">Waist</div><div id="weight-edit" class="dashboard-item-right"><%= current_user.measurements.recent ? current_user.measurements.recent.waist : "None" %></div></li>
          </ul>
        </div>
        <hr />
        <div style="margin-top: 5px; padding: 10px; font-size: 1.25em;">
          <span class="dashboard-marker">Calculations</span>
          <span id="edit" class="edit"><%= link_to 'Show', new_measurement_path %></span>
        </div>
        <div style="font-size: 1.25em;">
          <ul class="item">
            <% recent_weight = current_user.measurements.recent.weight %>
            <% if recent_weight && current_user.height %>
              <li><div class="dashboard-item-calc-left">BMI</div><div id="bmi-edit" class="dashboard-item-calc-right"><%=  ((recent_weight.to_f / (current_user.height.to_f * current_user.height.to_f) * 703) * 100).round * 0.01 %></div></li>
            <% else %>
              <li><div class="dashboard-item-calc-left">BMI</div><div id="bmi-edit" class="dashboard-item-calc-right">None</div></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div id="" class="grid_4 dashboard-section" style="height: 315px; margin: 10px 9px;">
        <div class="" style="margin-top: 5px; padding: 10px; font-size: 1.25em;">
          <span class="dashboard-marker">Program</span>
          <span class="edit"><%= link_to 'Manage', programs_path %></span>
        </div>
        <hr />
        <div class="" style="margin-top: 5px; padding: 10px; text-shadow: 0 1px 0 #fff;">
          <% if current_user.programs.first.nil? -%>
            <div style="font-size: 1.25em; padding-bottom: 10px;"><b>No Program</b></div>
            <div style="font-size: 1.3em; color: #bb0000;">You haven't created a program.&nbsp;<%= link_to 'Add', new_program_path %> a program to get yourself on the right fitness track!</div>
          <% else -%>
            <div style="font-size: 1.25em; padding-bottom: 10px;"><b><%= current_user.programs.first.name %></b></div>
            <div><%= current_user.programs.first.description %></div>
            <!-- Interval Training -->
            <!-- This form of training involves alternating periods of activity and recovery. The advantage of this form of training is that it provides greater amounts of exposure to intensive training without incurring excessive fatigue. Greater recovery will occur if you remain walking or moving throughout. This increases the body's ability to remove lactic acid from the muscles, take it back to the liver, and convert it to energy. -->
          <% end -%>
        </div>
      </div>
      <div id="" class="grid_4 dashboard-section" style="height: 315px; margin: 10px 9px;">
        <div class="" style="margin-top: 5px; padding: 10px; font-size: 1.25em;">
          <span class="dashboard-marker">Workout Plans</span>
          <span class="edit"><%= link_to 'Manage', new_measurement_path %></span>
        </div>
        <hr />
        <div>
          <%= calendar(:year => 2010, :month => 4, :first_day_of_week => 0) do |d|
                #render_calendar_cell(d)
              end %>
        </div>
      </div>
    </div>
  </div>
<% end -%>