<h1>Editing Workout Plan</h1>
<h2><%= h @workout_plan.workout_block.program.name %>&nbsp;>&nbsp;<%= h @workout_plan.workout_block.name %></h2>
<% form_for(@workout_plan) do |f| %>
  <%= f.error_messages %>
  Name<br />
  <%= f.text_field :name %><br />
  Description<br />
  <%= f.text_field :description %><br />
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
<br />
<%= link_to 'Show', @workout_plan %> |
<%= link_to 'Back', workout_block_workout_plans_path(@workout_plan.workout_block) %>
