<h1>Listing Workout Plans</h1>
<% if @workout_block %>
  <h2><%= h @workout_block.program.name %>&nbsp;>&nbsp;<%= h @workout_block.name %></h2>
<% end -%>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Actions</th>
  </tr>
  <% @workout_plans.each do |workout_plan| %>
    <tr>
      <td><%= h workout_plan.name %></td>
      <td><%= h workout_plan.description %></td>
      <td>
        <%= link_to 'Show', workout_plan %>&nbsp;&nbsp;|&nbsp;
        <%= link_to 'Edit', edit_workout_plan_path(workout_plan) %>&nbsp;&nbsp;|&nbsp;
        <%= link_to 'Destroy', workout_plan, :confirm => 'Are you sure?', :method => :delete %>&nbsp;&nbsp;|&nbsp;
        <%= link_to 'Exercise Plans', workout_plan_exercise_plans_path(workout_plan) %>
      </td>
    </tr>
  <% end %>
</table>
<br />
<% if @workout_block %>
  <%= link_to 'New Workout Plan', new_workout_block_workout_plan_path(@workout_block) %>&nbsp;|
  <%= link_to 'Back', program_workout_blocks_path(@workout_block.program) %>
<% end -%>