<h1>Showing Workout Plan</h1>
<% if @workout_plan %>
  <h2><%= h @workout_plan.program.name %></h2>
<% end -%>
<table cellpadding="0" cellspacing="0">
  <tr>
    <td class="item">Name</td>
    <td><%= h @workout_plan.name %>
  </tr>
  <tr>
    <td class="item">Description</td>
    <td><%= h @workout_plan.description %>
  </tr>
</table>
<br />
<%= link_to 'Edit', edit_workout_plan_path(@workout_plan) %> |
<%= link_to 'Back', program_workout_plans_path(@workout_plan.program) %>
