<h1>New Cardio Plan</h1>
<% if @workout_plan %>
  <h2><%= h @workout_plan.program.name %></h2>
  <h2><%= h @workout_plan.name %></h2>
<% end -%>
<% form_for(@cardio_plan) do |f| %>
  <%= f.error_messages %>
  <%= hidden_field_tag 'workout_plan_id', @workout_plan.id %><br />
  Notes<br />
  <%= f.text_field :notes %><br />
  Time<br />
  <%= f.text_field :time %><br />
  Level<br />
  <%= f.text_field :level %><br />
  Incline<br />
  <%= f.text_field :incline %><br />
  Speed<br />
  <%= f.text_field :speed %><br />
  Distance<br />
  <%= f.text_field :distance %><br />
  Calories<br />
  <%= f.text_field :calories %><br />
  Min Heartrate<br />
  <%= f.text_field :min_hr %><br />
  Max Heartrate<br />
  <%= f.text_field :max_hr %><br />
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
<br />
<% if @workout_plan %>
  <%= link_to 'Back', workout_plan_exercise_plans_path(@workout_plan) %>
<% end -%>