<h1>Editing Workout Block</h1>
<h2><%= h @workout_block.program.name %></h2>
<% form_for(@workout_block) do |f| %>
  <%= f.error_messages %>
  Name<br />
  <%= f.text_field :name %><br />
  Description<br />
  <%= f.text_field :description %><br />
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
<br />
<%= link_to 'Show', @workout_block %> |
<%= link_to 'Back', program_workout_blocks_path(@workout_block.program) %>
