<h1>Listing Exercises</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Kind</th>
    <th>Actions</th>
  </tr>
  <% @exercises.each do |exercise| %>
    <tr>
      <td><%= h exercise.name %></td>
      <td><%= h exercise.description %></td>
      <td><%= h exercise.kind %></td>
      <td>
        <%= link_to 'Show', exercise %>&nbsp;&nbsp;|&nbsp;
        <%= link_to 'Edit', edit_exercise_path(exercise) %>&nbsp;&nbsp;|&nbsp;
        <%= link_to 'Destroy', exercise, :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>
<br />
<%= link_to 'New Exercise', new_exercise_path %>
