<% content_for :content do -%>
  <div class="container_12 clearfix content">
    <div class="prefix_2 grid_8 suffix_2" style="padding-bottom: 15px;">
      <h1>Sign In</h1>

      <% form_for @user_session, :url => user_session_path(), :html => { :method => :create } do |f| %>
        <div class="account-form">
          <%= f.error_messages %>
          <%= f.label :login %><br />
          <%= f.text_field :login %><br />
          <br />
          <%= f.label :password %><br />
          <%= f.password_field :password %><br />
          <br />
          <%= f.check_box :remember_me %>&nbsp;<%= f.label :remember_me %><br />
          <br />
        </div>
        <br />
        <%= f.submit "Login" %>
      <% end %>
    </div>
  </div>
<% end %>