<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <!-- noscript><meta http-equiv="refresh" content="0; /404.html"/></noscript -->
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Analzye: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold', '960', 'calendar', 'jquery-ui-1.8.1.custom', 'visualize/basic', 'visualize/visualize', 'visualize/visualize-dark' %>
  <%= render :partial => "layouts/jquery_rocks" %>
</head>
<body>
  <%= render :partial => "layouts/super_header" %>
  <%= render :partial => "layouts/header" %>
  <%= render :partial => "layouts/flasher" %>
  <%= yield(:content) %>
  <%= render :partial => "layouts/footer" %>
</body>
</html>
